body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
  }


html, body {
     width: 100%;
     overflow-x: hidden;
  }

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

[v-cloak] {
  display: none !important;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  line-height: 28px;
  font-size: 15px;
}

a {
  outline: none !important;
}

hr {
  width: 180px;
  border-color: #CCC;
}

.section-title strong {
	color: #e74c3c;
  	font-size: 56px;
}

.section-title h1 {
	font-size: 24px;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}

#work,#about, #team, 
#gallery, #pricing, #contact {
   padding-top: 100px;
  padding-bottom: 100px;
}

.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}


/* ==========================================================================
navigation section
========================================================================== */
.custom-navbar {
    background: #4B4B4B;
    margin-bottom: 0;
}
.custom-navbar .navbar-brand{
  font-family: 'Britannic';
  color: #e74c3c;
  font-weight: 600;
  font-size: 36px;
  width: 300px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #e74c3c;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    }
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    }
.custom-navbar .nav li a:hover {
  	background: transparent;
   color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.custom-navbar .nav li.active > a {
      color: #e74c3c;
    }
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #e74c3c;
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar {
            background: #4B4B4B;
            padding: 10px;
            border-bottom: 0;
            background: 0 0;
         }
    .custom-navbar.top-nav-collapse {
            padding: 8px;
            background: #4B4B4B;
        }
    .custom-navbar.top-nav-collapse li a {
            color: #fff;
            display: inline-block;
    }
}


/* ==========================================================================
home section
========================================================================== */
#home {
  background: url('../src/img/bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 40px;
}

#home .lmt{
  font-family: 'Britannic';
  color: #e74c3c;
  font-weight: 600;
  font-size: 50px;
}
#home h3 {
  font-size: 14px;
}
#home hr {
  width: 240px;
  border-top: 1px solid #666;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #e74c3c;
  border-color: transparent;
}
#home .btn-danger {
  background: #e74c3c;
  border-color: transparent;
}
#home .btn-danger:hover {
	border: 4px solid #ffffff;
  	border-radius: 0;
	background: transparent;
  	color: #ffffff;
}

#home .container {
  background: #22222266;
  padding-bottom: 20px;
}

/* ==========================================================================
work section
========================================================================== */
#work {
    text-align: center;
    background: #f6f6f6;
}
#work .col-md-4 {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
#work .col-md-4:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work h3 {
  font-size: 18px;
}

#event-title {
  color: #e74c3c;
}


/* ==========================================================================
about section
========================================================================== */
#about {
  background: #3B3B3B;
  color: #ffffff;
}
.nav-tabs {
  margin-top: 20px;
  border-bottom: 1px solid #606060;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
	display: block;
  	color: #ffffff;
  	font-size: 16px;
  	padding: 10px 20px;
  	border: 0;
  	border-radius: 0;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #e74c3c;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}
.tab-content {
  padding-top: 20px;
}

.tab-content a {
	color: #0CC;
}

.tab-content a:hover, .tab-content a:link {
	color: #FF0;
	text-decoration: none;
}
.member {
  width: 160px;
  margin-right: 10px;
}

.about-title {
  color: #e74c3c;
}
.about-info { text-align: center; }
.about-info p{
  text-align: justify;
}
.about-img {
  margin: 50px 0;
}

/* ==========================================================================
nav dropdown section
========================================================================== */
.dropdown {
  margin-left: 70%;
  width: 300px;
  margin-top: 60px;
  background: #4b4b4b;
}

/* ==========================================================================
team section
========================================================================== */
#team {
  text-align: center;
}
#team h3 {
  color: #e74c3c;
  font-size: 14px;
  font-weight: bold;
}
#team .col-md-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#team .team-wrapper {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#team .team-des {
  background-color: rgba(00,00,00,0.6);
  position: absolute;
  color: #ffffff;
  opacity: 0;
  max-width: 500px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#team .team-des:hover {
 opacity: 1;
}
#team img {
  margin: 0 auto;
}

#team .social-icon li a {
  color: #fff;
}

#team .social-icon li a:hover {
  color: #e74c3c;
}

/* ==========================================================================
gallery section
========================================================================== */
#gallery {
  background-color: #f6f6f6;
  text-align: center;
  }
#gallery .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
#gallery img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
#gallery img:hover {
  opacity: 0.5;
}
/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 40px 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li .selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    color: #e74c3c;
    outline: none;
  }

/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}

/* ==========================================================================
pricing section
========================================================================== */
#pricing {
  text-align: center;
}
#pricing h2 {
  font-size: 32px;
}
#pricing h3 {
  font-size: 16px;
}
#pricing .plan {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 32px;
}
#pricing .plan span {
	font-size: 16px;
}
#pricing .plan .plan_title {
  font-weight: 300;
  letter-spacing: 2px;
  padding: 30px;
  margin-bottom: 20px;
}
#pricing .plan .plan_title img{
  display: block;
  position: relative;
  width: 100%;
}
#pricing .medium-icon {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
  border-radius: 50%;
  font-size: 52px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  margin-bottom: 32px;
}
#pricing .plan ul {
  padding: 0px;
}
#pricing .plan ul li {
  display: block;
  font-weight: 500;
  padding: 12px 0px;
}
#pricing .plan .btn {
  border: none;
  border-radius: 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 60px;
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
  text-transform: uppercase;
}
#pricing .plan-one .btn {
  background-color: #e74c3c;
}
#pricing .plan-two .btn {
  background-color: #ffa400;
}
#pricing .plan-three .btn {
  background-color: #009988;
}

#pricing .plan-one h2 {
  color: #e74c3c;
}
#pricing .plan-two h2 {
  color: #ffa400;
}
#pricing .plan-three h2 {
  color: #009988;
}
#pricing .plan .btn:hover {
  background-color: #3B3B3B;
}


/* ==========================================================================
contact section
========================================================================== */
#contact {
  background: #3B3B3B url('../src/img/contact-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
#contact h2 {
  padding-bottom: 20px;
}
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
#contact .medium-icon {
  padding-top: 10px;
  padding-right: 10px;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}
#contact form {
  padding-top: 60px;
}
#contact .form-control {
  border: 2px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact input {
  height: 40px;
}
#contact input[type="submit"] {
  background: #e74c3c;
  border: 3px solid #e74c3c;
  letter-spacing: 1px;
  margin-top: 18px;
  height: 50px;
  color: #ffffff;
}
#contact input[type="submit"]:hover {
  color: #000000;
}
#contact .contact-btn { margin-left: 30px; color: #e74c3c; font-size: 16px; }
/* ==========================================================================
footer section
========================================================================== */
footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
footer p {
  padding-top: 10px;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}
.social-icon li a {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
  color: #808080;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon li a:hover {
  color: #e74c3c;
}

@media screen and (min-width: 992px) {
  @-moz-document url-prefix() {
    #gallery .col-lg-4,
    #gallery .col-md-4 {
      width: 33.333%;
    }
  }    
}

/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }
}


.imgcover {
  position: absolute;
  z-index: 667;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  opacity: .6;
}

.teamimg img{
  position: fixed;
  z-index: 668;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 800px;
    color: #324b4e;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
