<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>L&M Tours</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/swiper.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/smoothscroll.js"></script>
</head>
<body>
<div id="body" v-cloak>
<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation" v-if="teamZoom===0">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">L & M Tours</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#about" class="smoothScroll">ABOUT</a></li>
				<li><a href="#team" class="smoothScroll">TEAM</a></li>
				<li><a href="#gallery" class="smoothScroll">GALLERY</a></li>
				<li><a href="#pricing" class="smoothScroll" @click="tourseen=!tourseen">TOURS</a>
					<!-- <div class="navbar-fixed-top dropdown" v-if="tourseen">
						<ul>
							<li>list1</li>
							<li>list2</li>
							<li>list3</li>
						</ul>			
					</div> -->
				</li>
				<li><a href="#work" class="smoothScroll">EVENT</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
			</ul>
		</div>
	</div>
</section>

<section>

</section>
<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>VACATIONS / BUS TOURS / CRUISES / AIRLINE TICKETS</h3>
				<h1 class="lmt">L & M Tours</h1>
				<h3>Quality Escorted Motorcoach Tours Since 1999</h3>
				<a href="#about" class="smoothScroll btn btn-danger">What we do</a>
				<a href="#contact" class="smoothScroll btn btn-default">Talk to us</a>
			</div>
		</div>
	</div>		
</section>

<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>01</strong>
					<h1 class="heading bold">OUR AGENCY</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="src/img/about.jpg" class="img-responsive  about-img" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold about-title">Welcome to L & M Tours</h3>
				<h1 class="heading bold">We are here to service your holiday plans and fulfill your vacation dreams. </h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">ABOUT US</a></li>
					<li><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">OUR BELIEVES</a></li>
					<li><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SERVICE</a></li>
				</ul>
				<!-- tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="design">
						<br>
						<p>L & M Tours is a tour operator and full service travel agency serving the New York metropolitan area. We have been organizing tours for more than 10 years and pride ourselves on courteous service and satisfied customers. </p>
						<img class="member" src="src/img/aba.png" alt=""> 
						<img class="member" src="src/img/nta.png" alt=""> 
						<img class="member" src="src/img/iatan.png" alt=""> 
					</div>
					<div role="tabpanel" class="tab-pane" id="mobile">
						<p>L & M Tours can design a vacation that is within your budget without compromising quality. We have no additional hidden costs, no application fees and no complicated pricing scales. </p>
						<p>In these stressful times we appreciate the fact that your free time is precious. Allow us to take this opportunity to help you create memories that will last a lifetime.</p>
						<br><br><br><br>
					</div>
					<div role="tabpanel" class="tab-pane" id="social">
						<p>We at L & M Tours are here to arrange all of your travel needs. We specialize in arranging customized tours for students, religious organizations, adults and incentive groups. We can help plan an overnight romantic getaway or a large family reunion. Whether your choice is to travel alone or with a large group, L & M prides itself on individual attention and quality packages.</p>
						<br><br><br><br>
					</div>

				</div>
			</div>
		</div>
		<div class="row about-info">
			<div class="col-md-3">
				<i class="fa fa-2x fa-bus"></i>
				<h3>SAFETY</h3><p>With the highest safety rating possible from the Department of Transportation, Starr prides itself on unparalleled quality of service for all your bus transportation needs. At Starr, Safety is our “way of life” – we live it every day so you can travel with peace of mind and comfort.</p>
			</div>
			<div class="col-md-3">
				<i class="fa fa-2x fa-bed"></i>
				<h3>COMFORT</h3><p>Starr takes pride in offering state-of-the-art motorcoaches maintained to the highest standard for comfort, safety, and reliability. Travel in style on a bus equipped with a full entertainment system including DVD players and video monitors, luxurious reclining seats, and an onboard lavatory.</p>
			</div>
			<div class="col-md-3">
				<i class="fa fa-2x fa-user"></i>
				<h3>SERVICE</h3><p>As a family owned business since 1947, Starr was founded with the goal of providing only the best experience and value to every customer. Starr’s team of travel experts will work around the clock to make sure your trip is perfect. Sit back, relax, and enjoy your trip with confidence.</p>
			</div>
			<div class="col-md-3">
				<i class="fa fa-2x fa-shield"></i>
				<h3>RELIABILITY</h3><p>People choose Starr again and again because of our dependability and reliability. When you book with Starr, you can relax and leave all the details to our team of travel experts. We are here to help you arrive at your destination with the highest standard of safety, service and comfort.</p>
			</div>
		</div>
	</div>
</section>

<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>02</strong>
					<h1 class="heading bold">AMAZING TEAM</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 fadeIn" >
				<div class="team-wrapper" @click="teamZoom=1" >
					<img src="src/img/Bus86A.jpg" class="img-responsive" alt="team img">
					<div class="team-des">
						<h4>Prevost 56 Seats bus</h4>
						<h3>with TV, DVD, AC, Bathroom & Microphone</h3>
						<hr>
					</div>
				</div>
			</div>
			<div class="teamimg" v-if="teamZoom===1">
				<img src="src/img/Bus86B.jpg" alt="">
			</div>
			<div class="col-md-3 col-sm-6 fadeIn" >
				<div class="team-wrapper" @click="teamZoom=2" >
					<img src="src/img/Bus88A.jpg" class="img-responsive" alt="team img">
					<div class="team-des">
						<h4>Prevost 56 Seats bus </h4>
						<h3>with TV, DVD, AC, Bathroom & Microphone</h3>
						<hr>
					</div>
				</div>
			</div>
			<div class="teamimg" v-if="teamZoom===2">
				<img src="src/img/Bus88B.jpg" alt="">
			</div>
			<div class="col-md-3 col-sm-6 fadeIn" >
				<div class="team-wrapper" @click="teamZoom=3" >
					<img src="src/img/Side_view.jpg" class="img-responsive" alt="team img">
					<div class="team-des">
						<h4>24 Seats Mini Bus </h4>
						<h3>with TV, DVD, AC, Microphone & Luggage Compartment</h3>
						<hr>
					</div>
				</div>
			</div>
			<div class="teamimg" v-if="teamZoom===3">
				<img src="src/img/interior.jpg" alt="">
			</div>
			<div class="col-md-3 col-sm-6 fadeIn" >
				<div class="team-wrapper" @click="teamZoom=4" >
					<img src="src/img/Capitol_hill.jpg" class="img-responsive" alt="team img">
					<div class="team-des">
						<h4>24 Seats Mini Bus </h4>
						<h3>with TV, DVD, AC, Microphone & Luggage Compartment</h3>
						<hr>
					</div>
				</div>
			</div>
			<div class="teamimg" v-if="teamZoom===4">
				<img src="src/img/interior seats.jpg" alt="">
			</div>
		</div>
	</div>
</section>

<!-- gallery section -->
<section id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">GALLERY</h1>
					<hr>
				</div>
				<!-- ISO section -->
				<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiper-slide-center none-effect">
				<a href="javascript:void(0)">
					<img src="src/img/gallery-img1.jpg">
				</a>
				<div class="layer-mask"></div>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)">
					<img src="src/img/gallery-img2.jpg">
				</a>
				<div class="layer-mask"></div>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)">
					<img src="src/img/gallery-img3.jpg">
				</a>
				<div class="layer-mask"></div>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)">
					<img src="src/img/gallery-img4.jpg">
				</a>
				<div class="layer-mask"></div>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)">
					<img src="src/img/gallery-img5.jpg">
				</a>
				<div class="layer-mask"></div>
			</div>
			<div class="swiper-slide">
				<a href="javascript:void(0)">
					<img src="src/img/gallery-img6.jpg">
				</a>
				<div class="layer-mask"></div>
			</div>
		</div>
		<div class="button">
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
			</div>
		</div>
	</div>
</section>	

<!-- pricing section -->
<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">FEATURE TOURS</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-one bounceIn" >
					<div class="plan_title">
						<i class="icon-mobile medium-icon"></i>
						<h3>Novermber 4, 2018</h3>
						<h2>ACROBATS <br>OF<br>CHINA</h2>
						<img src="src/img/feature-aoc.jpg" alt="">
					</div>
					<button class="btn btn-warning">Get it now</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-two bounceIn" >
					<div class="plan_title">
						<i class="icon-desktop medium-icon"></i>
						<h3>April 7, 2019</h3>
						<h2>ANNIVERSARY PARTY</h2>
						<br>
						<img src="src/img/feature-party.jpg" alt="">
					</div>
					<button class="btn btn-warning">Take this!</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-three bounceIn" >
					<div class="plan_title">
						<i class="icon-cloud medium-icon"></i>
						<h3>September 16, 2019</h3>
						<h2>ANNIVERSARY CRUISE</h2>
						<br>
						<img src="src/img/feature-cruise.jpg" alt="">
					</div>
					<button class="btn btn-warning">Buy Now</button>
				</div>
			</div>
		</div>
	</div>		
</section>

<!-- work section -->
<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>05</strong>
					<h1 class="heading bold">UP COMING EVENTS</h1>
					<hr>
				</div>
			</div>
			<img src="src/img/acrobatschinese.jpg" class="img-responsive center-block" alt="about img">
			<h2 id="event-title">Incredible Acrobats of China Hunan Troupe - "Dream Journey"</h2>
			<p>Sunday, November 4, 2018  3 PM</p>
			<p>Klein Memorial Auditorium  Bridgeport, CT</p>
			<a href="src/downloads/Incredible Acrobats of China Individual.pdf">Individual Price </a><span>&nbsp &nbsp	</span><a href="src/downloads/Incredible Acrobats of China Group.pdf"> 	Group Price</a>
			<h3></h3>
		</div>
	</div>
</section>

<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>06</strong>
					<h1 class="heading bold">CONTACT US</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<br><br><br>
				<div class="col-md-12 col-sm-4">
					<h3><i class="fa fa-home" ></i> ADDRESS</h3>
					<p>6812 3rd Avenue, Brooklyn, NY 11220</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="fa fa-envelope" ></i> EMAIL</h3>
					<p>info@LMTOURS.net</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="fa fa-phone" ></i> PHONE</h3>
					<p>718-238-2284</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<form action="#" method="get" class="fadeInUp" >
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" placeholder="Name" name="name">
					</div>
					<div class="col-md-6 col-sm-6">
						<input type="email" class="form-control" placeholder="Email" name="email">
					</div>
					<div class="col-md-12 col-sm-12">
						<textarea class="form-control" placeholder="Message" rows="7" name="message"></textarea>
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="SEND MESSAGE">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<p>Copyright © 2018. L&M Tours Inc.<br>All rights Reserved.</p>
	</div>
	<div class="imgcover" @click="teamZoom=0" v-if="teamZoom!=0"></div>
</footer>

</div>
<script src="js/custom.js"></script>
</body>
</html>

