<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>L&M Tours</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div id="body">
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation" v-if="teamZoom===0">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">L&M Tours</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#about" class="smoothScroll">ABOUT</a></li>
				<li><a href="#team" class="smoothScroll">TEAM</a></li>
				<li><a href="#gallery" class="smoothScroll">GALLERY</a></li>
				<li><a href="#pricing" class="smoothScroll">PRICING</a></li>
				<li><a href="#work" class="smoothScroll">EVENT</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>VACATIONS / BUS TOURS / CRUISES / AIRLINE TICKETS</h3>
				<h1>L&M Tours</h1>
				<h3>Quality Escorted Motorcoach Tours Since 1999</h3>
				<a href="#about" class="smoothScroll btn btn-danger">What we do</a>
				<a href="#contact" class="smoothScroll btn btn-default">Talk to us</a>
			</div>
		</div>
	</div>		
</section>

<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>01</strong>
					<h1 class="heading bold">OUR AGENCY</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="src/img/about.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold about-title">Welcome to L & M Tours</h3>
				<h1 class="heading bold">We are here to service your holiday plans and fulfill your vacation dreams. </h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">ABOUT US</a></li>
					<li><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">OUR BELIEVES</a></li>
					<li><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
				</ul>
				<!-- tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="design">
						<br>
						<p>L & M Tours is a tour operator and full service travel agency serving the New York metropolitan area. We have been organizing tours for more than 10 years and pride ourselves on courteous service and satisfied customers. </p>
						<br><br><br><br><br>
					</div>
					<div role="tabpanel" class="tab-pane" id="mobile">
						<p>L & M Tours can design a vacation that is within your budget without compromising quality. We have no additional hidden costs, no application fees and no complicated pricing scales. </p>
						<p>In these stressful times we appreciate the fact that your free time is precious. Allow us to take this opportunity to help you create memories that will last a lifetime.</p>
						<br><br><br><br>
					</div>
					<div role="tabpanel" class="tab-pane" id="social">
						<p>We at L & M Tours are here to arrange all of your travel needs. We specialize in arranging customized tours for students, religious organizations, adults and incentive groups. We can help plan an overnight romantic getaway or a large family reunion. Whether your choice is to travel alone or with a large group, L & M prides itself on individual attention and quality packages.</p>
						<br><br><br><br>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>02</strong>
					<h1 class="heading bold">AMAZING TEAM</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 fadeIn" >
				<div class="team-wrapper" @click="teamZoom=1" >
					<img src="src/img/Bus86A.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Prevost 56 Seats bus</h4>
							<h3>with TV, DVD, AC, Bathroom & Microphone</h3>
							<hr>
						</div>
				</div>
			</div>
			<div class="teamimg" v-if="teamZoom===1">
				<img src="src/img/Bus86B.jpg" alt="">
			</div>
			<div class="col-md-3 col-sm-6 fadeIn" >
				<div class="team-wrapper" @click="teamZoom=2" >
					<img src="src/img/Bus88A.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Prevost 56 Seats bus </h4>
							<h3>with TV, DVD, AC, Bathroom & Microphone</h3>
							<hr>
						</div>
				</div>
			</div>
			<div class="teamimg" v-if="teamZoom===2">
				<img src="src/img/Bus88B.jpg" alt="">
			</div>
			<div class="col-md-3 col-sm-6 fadeIn" >
				<div class="team-wrapper" @click="teamZoom=3" >
					<img src="src/img/Side_view.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>24 Seats Mini Bus </h4>
							<h3>with TV, DVD, AC, Microphone & Luggage Compartment</h3>
							<hr>
						</div>
				</div>
			</div>
			<div class="teamimg" v-if="teamZoom===3">
				<img src="src/img/interior.jpg" alt="">
			</div>
			<div class="col-md-3 col-sm-6 fadeIn" >
				<div class="team-wrapper" @click="teamZoom=4" >
					<img src="src/img/Capitol_hill.jpg" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>24 Seats Mini Bus </h4>
							<h3>with TV, DVD, AC, Microphone & Luggage Compartment</h3>
							<hr>
						</div>
				</div>
			</div>
			<div class="teamimg" v-if="teamZoom===4">
				<img src="src/img/interior seats.jpg" alt="">
			</div>
		</div>
	</div>
</section>

<!-- gallery section -->
<div id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">GALLERY</h1>
					<hr>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
               		<div class="iso-box-section">
               			<div class="iso-box-wrapper col4-iso-box">

               				 <div class="iso-box col-lg-4 col-md-4 col-sm-6">
               				 	<a href="src/img/gallery-img1.jpg" data-lightbox-gallery="portfolio-gallery"><img src="src/img/gallery-img1.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box col-lg-4 col-md-4 col-sm-6">
               				 	<a href="src/img/gallery-img2.jpg" data-lightbox-gallery="portfolio-gallery"><img src="src/img/gallery-img2.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box col-lg-4 col-md-4 col-sm-6">
               				 	<a href="src/img/gallery-img3.jpg" data-lightbox-gallery="portfolio-gallery"><img src="src/img/gallery-img3.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box col-lg-4 col-md-4 col-sm-6">
               				 	<a href="src/img/gallery-img4.jpg" data-lightbox-gallery="portfolio-gallery"><img src="src/img/gallery-img4.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box col-lg-4 col-md-4 col-sm-6">
               				 	<a href="src/img/gallery-img5.jpg" data-lightbox-gallery="portfolio-gallery"><img src="src/img/gallery-img5.jpg" alt="portfolio img"></a>
               				 </div>

               				 <div class="iso-box col-lg-4 col-md-4 col-sm-6">
               				 	<a href="src/img/gallery-img6.jpg" data-lightbox-gallery="portfolio-gallery"><img src="src/img/gallery-img6.jpg" alt="portfolio img"></a>
               				 </div>

               			</div>
               		</div>

				</div>
			</div>
		</div>
	</div>
</div>	

<!-- pricing section -->
<section id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>04</strong>
					<h1 class="heading bold">OUR PRICING</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-one bounceIn" >
					<div class="plan_title">
						<i class="icon-mobile medium-icon"></i>
						<h3>BASIC</h3>
						<h2>$150 <span>per year</span></h2>
					</div>
					<ul>
                    	<li>100 GB Cloud Storage</li>
						<li>5 Pro Websites</li>
						<li>10 Secured Emails</li>
                        <li>24-hour Support</li>
					</ul>
					<button class="btn btn-warning">Get it now</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-two bounceIn" >
					<div class="plan_title">
						<i class="icon-desktop medium-icon"></i>
						<h3>BUSINESS</h3>
						<h2>$260 <span>per year</span></h2>
					</div>
					<ul>
						<li>200 GB Cloud Storage</li>
						<li>10 Pro Websites</li>
						<li>20 Secured Emails</li>
                        <li>30-Minute Support</li>
					</ul>
					<button class="btn btn-warning">Take this!</button>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="plan plan-three bounceIn" >
					<div class="plan_title">
						<i class="icon-cloud medium-icon"></i>
						<h3>PROFESSIONAL</h3>
						<h2>$380 <span>per year</span></h2>
					</div>
					<ul>
						<li>500 GB Cloud Storage</li>
						<li>20 Pro Websites</li>
						<li>40 Secured Emails</li>
                        <li>Live Support</li>
					</ul>
					<button class="btn btn-warning">Buy Now</button>
				</div>
			</div>
		</div>
	</div>		
</section>

<!-- work section -->
<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>05</strong>
					<h1 class="heading bold">UP COMING EVENTS</h1>
					<hr>
				</div>
			</div>
			<img src="src/img/acrobatschinese.jpg" class="img-responsive center-block" alt="about img">
			<h2 id="event-title">Incredible Acrobats of China Hunan Troupe - "Dream Journey"</h2>
			<p>Sunday, November 4, 2018  3 PM</p>
			<p>Klein Memorial Auditorium  Bridgeport, CT</p>
			<a href="src/downloads/Incredible Acrobats of China Individual.pdf">Individual Price </a><span>&nbsp &nbsp	</span><a href="src/downloads/Incredible Acrobats of China Group.pdf"> 	Group Price</a>
			<h3></h3>
		</div>
	</div>
</section>

<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<strong>06</strong>
					<h1 class="heading bold">CONTACT US</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<br><br><br>
				<div class="col-md-12 col-sm-4">
					<h3><i class="fa fa-home" ></i> ADDRESS</h3>
					<p>6812 3rd Avenue, Brooklyn, NY 11220</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="fa fa-envelope" ></i> EMAIL</h3>
					<p>info@LMTOURS.net</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="fa fa-phone" ></i> PHONE</h3>
					<p>718-238-2284</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<form action="#" method="get" class="fadeInUp" >
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" placeholder="Name" name="name">
					</div>
					<div class="col-md-6 col-sm-6">
						<input type="email" class="form-control" placeholder="Email" name="email">
					</div>
					<div class="col-md-12 col-sm-12">
						<textarea class="form-control" placeholder="Message" rows="7" name="message"></textarea>
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="SEND MESSAGE">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<p>Copyright © 2018. L&M Tours Inc.<br>All rights Reserved.</p>
	</div>
	<div class="imgcover" @click="teamZoom=0" v-if="teamZoom!=0"></div>
</footer>

<script src="js/vue.js"></script>
<script src="js/custom.js"></script>
</div>
</body>
</html>